<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practice.sample.findyouranimal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".result2Activity"
            android:screenOrientation="portrait"/>
        <!-- Sample AdMob App ID: "ca-app-pub-3940256099942544~3347511713" -->
        <!-- real AdMob App ID: "ca-app-pub-1939547718918721~5094320877" -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".resultActivity" />
        <activity android:name=".checkActivity" />
        <activity
            android:name=".test9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>